In [1]:
# pyspark initialization
import findspark
findspark.init()

In [2]:
#building sparksession
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [3]:
#dataframe_1
data_1 = [["1", "sravan", "company 1"], 
        ["2", "ojaswi", "company 1"],  
        ["3", "rohith", "company 2"], 
        ["4", "sridevi", "company 1"],  
        ["5", "bobby", "company 1"]] 
columns_1 = ['ID', 'NAME', 'Company']
dataframe_1 = spark.createDataFrame(data_1, columns_1)
dataframe_1.show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
+---+-------+---------+

In [4]:
#dataframe_2
data_2 = [["1", "45000", "IT"], 
         ["2", "145000", "Manager"], 
         ["6", "45000", "HR"], 
         ["5", "34000", "Sales"]] 
columns_2 = ['ID', 'salary', 'department'] 
dataframe_2= spark.createDataFrame(data_2, columns_2) 
dataframe_2.show()

+---+------+----------+
| ID|salary|department|
+---+------+----------+
|  1| 45000|        IT|
|  2|145000|   Manager|
|  6| 45000|        HR|
|  5| 34000|     Sales|
+---+------+----------+

In [5]:
#inner join of two dataframes (only matching rows)
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "inner").show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

In [6]:
#full outer join of two dataframes (both matching and non-matching rows)
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "outer").show()
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "full").show()
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "fullouter").show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|NULL|  NULL|      NULL|
|   4|sridevi|company 1|NULL|  NULL|      NULL|
|   5|  bobby|company 1|   5| 34000|     Sales|
|NULL|   NULL|     NULL|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|NULL|  NULL|      NULL|
|   4|sridevi|company 1|NULL|  NULL|      NULL|
|   5|  bobby|company 1|   5| 34000|     Sales|
|NULL|   NULL|     NULL|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|NULL|  NULL|      NULL|
|   4|sridevi|company 1|NULL|  NULL|      NULL|
|   5|  bobby|company 1|   5| 34000|     Sales|
|NULL|   NULL|     NULL|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [7]:
#left join of two dataframes
# returning all rows from the first dataframe and only matched rows from the second dataframe with respect to the first dataframe
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "left").show()
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "leftouter").show()

+---+-------+---------+----+------+----------+
| ID|   NAME|  Company|  ID|salary|department|
+---+-------+---------+----+------+----------+
|  1| sravan|company 1|   1| 45000|        IT|
|  2| ojaswi|company 1|   2|145000|   Manager|
|  3| rohith|company 2|NULL|  NULL|      NULL|
|  4|sridevi|company 1|NULL|  NULL|      NULL|
|  5|  bobby|company 1|   5| 34000|     Sales|
+---+-------+---------+----+------+----------+

+---+-------+---------+----+------+----------+
| ID|   NAME|  Company|  ID|salary|department|
+---+-------+---------+----+------+----------+
|  1| sravan|company 1|   1| 45000|        IT|
|  2| ojaswi|company 1|   2|145000|   Manager|
|  3| rohith|company 2|NULL|  NULL|      NULL|
|  4|sridevi|company 1|NULL|  NULL|      NULL|
|  5|  bobby|company 1|   5| 34000|     Sales|
+---+-------+---------+----+------+----------+

In [8]:
#right join of two dataframes
# returning all rows from the second dataframe and only matched rows from the first dataframe with respect to the second dataframe
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "right").show()
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "rightouter").show()

+----+------+---------+---+------+----------+
|  ID|  NAME|  Company| ID|salary|department|
+----+------+---------+---+------+----------+
|   1|sravan|company 1|  1| 45000|        IT|
|   2|ojaswi|company 1|  2|145000|   Manager|
|NULL|  NULL|     NULL|  6| 45000|        HR|
|   5| bobby|company 1|  5| 34000|     Sales|
+----+------+---------+---+------+----------+

+----+------+---------+---+------+----------+
|  ID|  NAME|  Company| ID|salary|department|
+----+------+---------+---+------+----------+
|   1|sravan|company 1|  1| 45000|        IT|
|   2|ojaswi|company 1|  2|145000|   Manager|
|NULL|  NULL|     NULL|  6| 45000|        HR|
|   5| bobby|company 1|  5| 34000|     Sales|
+----+------+---------+---+------+----------+

In [9]:
#leftsemi join of two dataframes
# returns only those rows from first dataframe for which there are match in second dataframe
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "leftsemi").show()

+---+------+---------+
| ID|  NAME|  Company|
+---+------+---------+
|  1|sravan|company 1|
|  2|ojaswi|company 1|
|  5| bobby|company 1|
+---+------+---------+

In [10]:
#leftanti join of two dataframes
# returns only those rows from first dataframe for which there are mismatch in second dataframe
dataframe_1.join(dataframe_2, dataframe_1.ID == dataframe_2.ID, "leftanti").show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  3| rohith|company 2|
|  4|sridevi|company 1|
+---+-------+---------+

In [11]:
# cross join of two dataframes
# returns Cartesian product of two DataFrames
# combines every row from the first DataFrame with every row from the second DataFrame, resulting in a large, unfiltered result
dataframe_1.crossJoin(dataframe_2).show()

+---+-------+---------+---+------+----------+
| ID|   NAME|  Company| ID|salary|department|
+---+-------+---------+---+------+----------+
|  1| sravan|company 1|  1| 45000|        IT|
|  1| sravan|company 1|  2|145000|   Manager|
|  1| sravan|company 1|  6| 45000|        HR|
|  1| sravan|company 1|  5| 34000|     Sales|
|  2| ojaswi|company 1|  1| 45000|        IT|
|  2| ojaswi|company 1|  2|145000|   Manager|
|  2| ojaswi|company 1|  6| 45000|        HR|
|  2| ojaswi|company 1|  5| 34000|     Sales|
|  3| rohith|company 2|  1| 45000|        IT|
|  3| rohith|company 2|  2|145000|   Manager|
|  3| rohith|company 2|  6| 45000|        HR|
|  3| rohith|company 2|  5| 34000|     Sales|
|  4|sridevi|company 1|  1| 45000|        IT|
|  4|sridevi|company 1|  2|145000|   Manager|
|  4|sridevi|company 1|  6| 45000|        HR|
|  4|sridevi|company 1|  5| 34000|     Sales|
|  5|  bobby|company 1|  1| 45000|        IT|
|  5|  bobby|company 1|  2|145000|   Manager|
|  5|  bobby|company 1|  6| 45000|        HR|
|  5|  bobby|company 1|  5| 34000|     Sales|
+---+-------+---------+---+------+----------+